@import 'normalize.css';

* {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #262933;
}

body {
  font-size: 14px;
  line-height: 1.4;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role='button'] {
  text-decoration: none;
}

input[type='date']::-webkit-inner-spin-button {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
}

.Select .Select-control {
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  border-bottom-color: #ddd;
  margin-top: 10px;
}

#profile-tags .Select .Select-control {
  width: 100%;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  padding-left: 0 !important;
}
@import 'print.css';

@import 'tables.css';

@import 'react-table.css';

@import 'prism.css';

@import 'fuse-helpers.css';

.jsoneditor {
  min-width: 440px;
}

.react-grid-item .tooltips {
  font-size: 18px;
  line-height: 15px;
  color: #757575;
  position: absolute;
  right: 20px;
  top: 20px;
}

.react-grid-item .remove {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}

#insightHeader {
  height: calc(100% + 16px);
  z-index: 1000;
}
#insightHeader .react-datepicker-wrapper {
  margin-top: -4px;
  padding-bottom: 4px;
}
#insightHeader .react-datepicker-wrapper input {
  height: 35px;
  background: transparent;
  color: #f5f5f5;
  border-bottom: #fff 1px solid !important;
}
#insightHeader .react-datepicker__time-list {
  padding: 0;
  padding-right: 20px;
}

.react-datepicker {
  font-size: 1em !important;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em !important;
  border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
  left: 1em !important;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
  right: 1em !important;
}
.react-datepicker-time__header {
  font-size: 0.944em !important;
}

.react-datepicker__navigation--next--with-time {
  right: 80px !important;
}
.react-datepicker__time-box {
  width: 86px !important;
}
