@import "normalize.css";

* {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #262933;
}

body {
  font-size: 14px;
  line-height: 1.4;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role="button"] {
  text-decoration: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
}

.Select .Select-control {
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  border-bottom-color: #ddd;
  margin-top: 10px;
}

#profile-tags .Select .Select-control {
  width: 100%;
}

.Select.has-value.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: #fff !important;
}
.Select.has-value.is-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: #333 !important;
  padding-left: 10px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  padding-left: 0 !important;
}
@import "print.css";

@import "tables.css";

@import "react-table.css";

@import "prism.css";

@import "fuse-helpers.css";

.jsoneditor {
  min-width: 440px;
}

.react-grid-item .tooltips {
  font-size: 18px;
  line-height: 15px;
  color: #757575;
  position: absolute;
  right: 20px;
  top: 20px;
}

.react-grid-item .remove {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}

.cardedPageHeader {
  height: calc(100% + 16px);
  z-index: 1000;
}
.cardedPageHeader .react-datepicker-wrapper {
  /* margin-top: -8px;
  padding-bottom: 8px; */
}
.cardedPageHeader .react-datepicker-wrapper input {
  height: 35px;
  background: transparent;
  color: #f5f5f5;
  border-bottom: #fff 1px solid !important;
  width: 140px;
}
.cardedPageHeader .react-datepicker__time-list {
  padding: 0;
  padding-right: 20px;
}
.cardedPageHeader #profileFilter label {
  top: -3px;
}

.cardedPageHeader #profileFilter .clear-input {
  position: absolute;
  top: 18px;
  width: 100%;
  color: #f44336;
  text-align: right;
  pointer-events: none;
}

.cardedPageHeader #profileFilter .clear-input span {
  cursor: pointer;
  font-size: 14px;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

#tagsFilter {
  z-index: 1000;
}
#tagsFilter .Select.is-focused > .Select-control {
  background-color: transparent;
}

.is-focused .Select-input > input {
  color: #fff;
}

#profile-tags .is-focused .Select-input > input {
  color: #333;
}

#tagsFilter .Select--multi .Select-value {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4) !important;
}

#tagsFilter .Select-value-label {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.4) !important;
  font-size: 10px;
  letter-spacing: -0.04em;
}

#tagsFilter .Select--multi .Select-value-icon {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.4);
}

#loader {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: calc(100% - 120px);
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
}
#loader div.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#leaderboard-header {
  position: relative;
  width: 100%;
  margin-left: 20px;
}
#leaderboard-header h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  width: 100%;
}
.lazyloading .loader {
  text-align: center;
}
#mediaList .description {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 2.9em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
#mediaList .description:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
#mediaList .description:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

#mediaList .image-container {
  width: 100%;
  height: 270px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  background-position: center center;
  background-size: cover;
}

#mediaList .image-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#mediaList .image-container:hover .overlay {
  opacity: 1;
}

#mediaList .image-container .overlay ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 0;
  width: 100%;
  text-align: center;
}

#mediaList .image-container .overlay ul li {
  display: inline-block;
  margin-left: 25px;
}

#mediaList .image-container .overlay ul li:first-child {
  margin-left: 0;
}

#mediaList .image-container .overlay ul li span {
  font-size: 21px;
  vertical-align: middle;
  margin-right: 4px;
}
#mediaPostDialog .dialog-content:first-child {
  padding: 0;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
}
#mediaPostDialog .dialog-content:first-child video {
  width: 100%;
  height: 90vh;
  max-width: 600px;
}

#mediaList .media-thumb {
  cursor: pointer;
}

#mediaList .media-thumb .icons {
  padding: 5px;
  text-align: right;
}

#mediaList .media-thumb .icons button {
  color: #222;
  background-color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: 18px;
}

#mediaList .media-thumb .icons button .material-icons {
  font-size: 18px;
}

#mediaPostDialog .dialog-content .media {
  cursor: auto;
  background: #183340;
}
#mediaPostDialog .info {
  padding-top: 30px;
}

#mediaPostDialog .top-icons {
  text-align: right;
}

#mediaPostDialog .top-icons button {
  width: 44px;
  height: 44px;
}
#mediaPostDialog .tags {
  margin-top: 20px;
}

#mediaPostDialog .tags .tag {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 24px;
  font-size: 1.2rem;
  background: #e9e9e9;
}

#mediaPostDialog .tags .score {
  font-size: 13px;
  width: 24px;
  height: 24px;
  background-color: #d0d0d0;
}

#mediaPostDialog .tags .score .material-icons {
  font-size: 19px;
}

#mediaPostDialog .engagment {
  width: 100%;
  /* text-align: center; */
  margin: 20px 0;
}

#mediaPostDialog .engagment ul {
  padding: 0;
  width: 100%;
}

#mediaPostDialog .engagment ul li {
  display: inline-block;
  margin-right: 30px;
  color: #444;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#mediaPostDialog .engagment ul li span {
  clear: both;
  display: block;
  margin: auto;
  color: #bbb;
  font-size: 21px;
}
#mediaPostDialog .sentiment {
  margin-right: 20px;
  margin-top: 20px;
}
#mediaPostDialog .sentiment div.bar {
  overflow: inherit;
  margin-top: 35px;
  margin-bottom: 20px;
  background: #f2736e; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f2736e 0%,
    #ffc532 50%,
    #63b58d 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f2736e 0%,
    #ffc532 50%,
    #63b58d 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f2736e 0%,
    #ffc532 50%,
    #63b58d 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2736e', endColorstr='#63b58d',GradientType=1 ); /* IE6-9 */
}
#mediaPostDialog .sentiment div.bar::after {
  content: "Neutre";
  position: absolute;
  top: -24px;
  right: 50%;
  transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  font-size: 12px;
  color: #666;
}
#mediaPostDialog .sentiment div.bar::before {
  content: "Positive";
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 12px;
  color: #666;
}
#mediaPostDialog .sentiment div:last-child div {
  background-color: transparent;
}
#mediaPostDialog .sentiment div:last-child div::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  width: 14px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #387ca3;
}
#mediaPostDialog .sentiment div:last-child div::after {
  content: "Negative";
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 12px;
  color: #666;
}
#mediaPostDialog .related-media {
  margin-top: 20px;
  margin-bottom: 20px;
}
.MuiDialog-paperWidthSm-490 {
  max-width: 1000px !important;
}
.leaderboard-profile-row {
  padding: 0;
  margin: 20px;
}
.leaderboard-profile-row .photo {
  height: 240px;
  width: 100%;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  background: #f5f5f5;
}
.leaderboard-profile-row .photo img {
  position: absolute;
  max-width: none;
  width: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.leaderboard-profile-row .info {
  padding: 20px;
}
.leaderboard-profile-row .info h4 {
  color: #55c39e;
}
.leaderboard-profile-row .info .links a {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  color: #fff;
  font-size: 14px;
}
.leaderboard-profile-row .info .links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.leaderboard-profile-row .info .links a.facebook {
  background-color: #3b5998;
}
.leaderboard-profile-row .info .links a.twitter {
  background-color: #1da1f2;
}
.leaderboard-profile-row .info .links a.youtube {
  background-color: #ff0000;
}
.leaderboard-profile-row .info .links a.instagram {
  background-color: #c32aa3;
}
.leaderboard-profile-row .info .links a.pinterest {
  background-color: #bd081c;
}
.leaderboard-profile-row .info .links a.linkedin {
  background-color: #007bb5;
}
.leaderboard-profile-row .info .links a.googleplus {
  background-color: #db4437;
}
.leaderboard-profile-row .info .links a.snapchat {
  background-color: #fffc00;
  color: #111;
  font-size: 18px;
}
.leaderboard-profile-row .info .links a.rss,
.leaderboard-profile-row .info .links a.website {
  background-color: #f26522;
}
.leaderboard-profile-row .info .tags > div {
  font-size: 13px;
  margin-right: 2px;
}
.leaderboard-profile-row .info .statics {
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #55c39e;
}
.leaderboard-profile-row .info .statics span.material-icons {
  font-size: 21px;
  vertical-align: bottom;
  margin-left: 12px;
}
.leaderboard-profile-row p span.material-icons {
  font-size: 21px;
  vertical-align: text-bottom;
  color: #ccc;
}

#report-app table.metrics thead tr th {
  min-width: 180px;
}
#report-app table.metrics .remove-profile-action {
  margin-left: 4px;
  width: 22px;
  height: 22px;
}
#report-app table.metrics .remove-profile-action .material-icons {
  font-size: 14px;
}
#import-dialog-content{
  display: flex;
  justify-content: space-around;
}
.compare-bar li{
  height: 98px !important;
  width: 98px !important;
}
/* #import-dialog-content .dropzone{
  margin-right: 20px;
} */
/* .terminal {
  max-height: 80px;
  overflow-y: scroll;
  background: #222;
  color: #f9f9f9;
  font-family: 'Courier New', Courier, monospace;
}
.terminal p{
  color: #e0e0e0;
} */
.react-datepicker {
  font-size: 1em !important;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em !important;
  border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
  left: 1em !important;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
  right: 1em !important;
}
.react-datepicker-time__header {
  font-size: 0.944em !important;
}
.react-datepicker__navigation--next--with-time {
  right: 80px !important;
}
.react-datepicker__time-box {
  width: 86px !important;
}
.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
  width: 140px;
  height: 46px;
  padding: 8px 0 0 0;
  font-weight: 300;
  color: #e5e5e5;
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #e5e5e5;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 45px;
  width: 200px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  border: none;
  background-color: #fff;
  color: #444;
  font-weight: 300;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.react-datepicker-popper{
  z-index: 100 !important;
}

[class^=FusePageCarded-content]{
  overflow: hidden;
}
@media only screen and (max-width: 930px) {
  .FusePageCarded-header-162 {
    height: 250px;
    min-height: 136px;
    max-height: 250px;
  }
  .FusePageCarded-topBg-160 {
    height: 280px;
  }
  .leaderboard-profile-row .photo img {
    width: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  #mediaPostDialog .info {
    position: relative;
    /* height: 100%; */
    height: 90vh;
  }
  #mediaPostDialog .info .wrapper {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0;
  }
  #mediaPostDialog .dialog-content .media {
    position: relative;
    height: 100%;
  }
  #mediaPostDialog .dialog-content .media img {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: block;
    /* width: 700px; */
    /* height: 100%;
    max-width: none; */
  }
  #mediaPostDialog .info .scrollWrap {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 40px;
    margin-right: -12px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  [class^="FusePageCarded-header"] {
    height: 450px;
    min-height: 136px;
    max-height: 450px;
  }
  [class^="FusePageCarded-topBg"] {
    height: 460px;
  }
  #typeaheadApp [class^="FusePageCarded-header"],
  #typeaheadApp [class^="FusePageCarded-header"] {
    height: 250px;
    min-height: 136px;
    max-height: 250px;
  }
  #profileApp [class^="FusePageCarded-topBg"],
  #profileApp [class^="FusePageCarded-topBg"] {
    height: 260px;
  }
  /* .cardedPageHeader {
    height: 300px;
  } */
  [class^="FusePageCarded-header"] .filters {
    margin-bottom: 20px;
  }
  #mediaPostDialog .dialog-content:first-child {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }
  #mediaPostDialog .dialog-content:first-child video {
    height: 400px;
  }
  #mediaPostDialog .info {
    padding: 20px 40px;
  }
  #mediaPostDialog .post-owner {
    margin: 15px;
  }
  #mediaPostDialog .sentiment {
    margin-right: 0;
  }
}
@media only screen and (max-width: 400px) {
  #mediaPostDialog .scrollWrap {
    width: 100%;
  }
}
