@import "normalize.css";

* {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #262933;
}

body {
  font-size: 14px;
  line-height: 1.4;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role="button"] {
  text-decoration: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
}

.Select .Select-control {
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  border-bottom-color: #ddd;
  margin-top: 10px;
}

#profile-tags .Select .Select-control {
  width: 100%;
}


.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff !important;
}
.Select.has-value.is-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333 !important;
  padding-left: 10px;
}

#insightHeader #profileFilter label {
  top: -3px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  padding-left: 0 !important;
}
@import "print.css";

@import "tables.css";

@import "react-table.css";

@import "prism.css";

@import "fuse-helpers.css";

.jsoneditor {
  min-width: 440px;
}

.react-grid-item .tooltips {
  font-size: 18px;
  line-height: 15px;
  color: #757575;
  position: absolute;
  right: 20px;
  top: 20px;
}

.react-grid-item .remove {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}

#insightHeader {
  height: calc(100% + 16px);
  z-index: 1000;
}
#insightHeader .react-datepicker-wrapper {
  margin-top: -4px;
  padding-bottom: 4px;
}
#insightHeader .react-datepicker-wrapper input {
  height: 35px;
  background: transparent;
  color: #f5f5f5;
  border-bottom: #fff 1px solid !important;
}
#insightHeader .react-datepicker__time-list {
  padding: 0;
  padding-right: 20px;
}

#loader {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
#loader div.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#leaderboard-header {
  position: relative;
  width: 100%;
  margin-left: 20px;
}
#leaderboard-header h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  width: 100%;
}
#leaderboard-list .loader{
  text-align: center
}
.leaderboard-profile-row {
  padding: 0;
  margin: 20px;
}
.leaderboard-profile-row .photo {
  height: 240px;
  width: 300px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}
.leaderboard-profile-row .photo img {
  position: absolute;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.leaderboard-profile-row .info {
  padding: 20px;
}
.leaderboard-profile-row .info h4 {
  color: #55c39e;
}
.leaderboard-profile-row .info .links a {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
  color: #fff;
  font-size: 14px;
}
.leaderboard-profile-row .info .links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.leaderboard-profile-row .info .links a.facebook {
  background-color: #3b5998;
}
.leaderboard-profile-row .info .links a.twitter {
  background-color: #1da1f2;
}
.leaderboard-profile-row .info .links a.youtube {
  background-color: #ff0000;
}
.leaderboard-profile-row .info .links a.instagram {
  background-color: #c32aa3;
}
.leaderboard-profile-row .info .links a.pinterest {
  background-color: #bd081c;
}
.leaderboard-profile-row .info .links a.linkedin {
  background-color: #007bb5;
}
.leaderboard-profile-row .info .links a.googleplus {
  background-color: #db4437;
}
.leaderboard-profile-row .info .links a.snapchat {
  background-color: #fffc00;
  color: #111;
  font-size: 18px;
}
.leaderboard-profile-row .info .links a.rss,
.leaderboard-profile-row .info .links a.website {
  background-color: #f26522;
}
.leaderboard-profile-row .info .tags>div {
  font-size: 13px;
  margin-right: 2px;
}
.leaderboard-profile-row .info .statics {
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #55c39e;
}
.leaderboard-profile-row .info .statics span.material-icons {
  font-size: 21px;
  vertical-align: bottom;
  margin-left: 12px;
}
.leaderboard-profile-row p span.material-icons {
  font-size: 21px;
  vertical-align: text-bottom;
  color: #ccc;
}

.react-datepicker {
  font-size: 1em !important;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em !important;
  border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
  left: 1em !important;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
  right: 1em !important;
}
.react-datepicker-time__header {
  font-size: 0.944em !important;
}

.react-datepicker__navigation--next--with-time {
  right: 80px !important;
}
.react-datepicker__time-box {
  width: 86px !important;
}
